<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style1.css">
    <title>Express App: Home</title>
</head>
<body>
<header>
    <div class="container">
        <div class="logo">
            <img width="110px" src = "img/pngwing.com.png" alt="My Happy SVG"/>
            <h1>БАЗА ДАНИХ ПРОДУКТІВ</h1>

        </div>
        <nav class="menu_list">
            <ul>
                <li><a href="/about">About</a></li>
            </ul>
            <a href="/products"><button class="btn btn-primary">Products Catalog</button></a>
        </nav>
    </div>
</header>



<div class="main">
    <div class="position">
        <img src = "img/bg.png"width="1200px" alt="My Happy SVG"/>
        <h1 class="name_company">СПИСОК ПРОДУКТіВ</h1>
        <a href="/products">  <button type="submit"class="btn_left option">Перейти до бази даних</b></button></a>
        <a href="/order_products"><button type="submit" class="btn_right  option">ЗАмовити Продукт </b></button></a>
    </div>

</div>
<div class="order_product">
    <hr>
    <h1>Замовленні продукти</h1>
    <ul id="productsContainer">
    </ul>
</div>
</body>
<script>
    window.onload = (event) => {
        fillProductsList();

    };
    function fillProductsList(){
        fetch('/api/products/ordered_product')
            .then(res => {
                return res.json();
            })
            .then(data => {
                const container = document.getElementById('productsContainer');
                if (data.length === 0) {
                    container.innerHTML = "<p>Немає замовлених продуктів</p>";
                }
                else{
                data.forEach(item => {
                        const newLiItem = `<div class="list_items"><li>
                       <span> Модель телефону:<b> ${item.model}</b> Версія: <b>${item.version} </b> Ціна <b>${item.cost} </b>  грн</span> </li></div>`;
                        container.insertAdjacentHTML('beforeend', newLiItem);

                })
                }
                })


            .catch(error => {
                console.log(error);
                alert(error);
            });
    }
</script>
</html>