<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Express App: Catalog </title>
</head>
<body>

    <a href="/">Home</a>&ensp;<a href="/about">About</a>
    <div class="container">
    <h3 >Продукти </h3>
<input class="button  action" type="button" value="Create new" onclick='document.location="create.html"'>
    <ul id="productsContainer">
    </ul>
</div>
</body>
<script type="text/javascript" src="scripts/products.js"></script>
</html>